In [1]:
import requests
import matplotlib.pyplot as plt
import pandas as pd
import datetime
import numpy as np

API: https://api.alternative.me/
Endpoint: /fng/
Method: GET
Description: Get the latest data of the Fear and Greed Index.
Optional Parameters:
limit, [int]: Limit the number of returned results. The default value is '1', use '0' for all available data. Please note that the field "time_until_update" will only be returned for the latest value ( in other words: when the value '1' is used).
format, [string]: Choose to either receive the data part formatted as regular JSON or formatted as CSV for easy pasting in spreadsheets, use either 'json' or 'csv' respectively. The default is 'json'.
date_format, [string]: Choose to either receive the date part formatted for the United States (MM/DD/YYYY), for China and Korea (YYYY/MM/DD) or for the rest of the world (DD/MM/YYYY). Use 'us', 'cn', 'kr' or 'world' respectively. The default is an empty string which will return the date in unixtime, unless format is set to 'csv'. When "format" is set to 'csv' the default "date_format" is 'world'.

In [14]:
url = "https://api.alternative.me/fng/?limit=0"

In [15]:
data = requests.get(url).json()['data']

In [16]:
df = pd.DataFrame(data)

In [17]:
df.shape

(920, 4)

In [18]:
df.head()

  time_until_update   timestamp value value_classification
0             10572  1597104000    84        Extreme Greed
1               NaN  1597017600    78        Extreme Greed
2               NaN  1596931200    79        Extreme Greed
3               NaN  1596844800    77        Extreme Greed
4               NaN  1596758400    77        Extreme Greed

In [20]:
df['timestamp'] = pd.to_datetime(df['timestamp'], unit = 's')
df.head(2)

  time_until_update  timestamp value value_classification
0             10572 2020-08-11    84        Extreme Greed
1               NaN 2020-08-10    78        Extreme Greed

In [21]:
df.set_index("timestamp", drop=True, inplace=True)
df.head(2)

           time_until_update value value_classification
timestamp
2020-08-11             10572    84        Extreme Greed
2020-08-10               NaN    78        Extreme Greed

In [22]:
df.drop(columns=['time_until_update'], inplace = True)

In [23]:
df.tail()

           value value_classification
timestamp
2018-02-05    11         Extreme Fear
2018-02-04    24         Extreme Fear
2018-02-03    40                 Fear
2018-02-02    15         Extreme Fear
2018-02-01    30                 Fear